<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h1>Write New Chat...</h1>
    <form action="/chats" method="post">
        from: <input type="text" name="from" placeholder="Enter Your name"><br><br>
        to: <input type="text" name="to" placeholder="Enter Receiver name"><br><br>
        message: <textarea name="message" id=""></textarea><br><br>
        <button>Send</button>
    </form>
</body>
</html>