body{
    margin-left: 20px;
}
.chat{
    background-color: rgb(162, 157, 157);
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
    display: inline-block;
}
.msg{
    background-color: aquamarine;
    padding: 1px 10px;
    border-radius: 20px;
}